:root{
    --primary-color: rgba(170, 139, 255, 0.89);
    --secondary-color: rgba(255, 142, 142, 0.93);
    --tertiary-color: rgba(171, 255, 170, 0.83);
    --title-color: rgba(0, 0, 255, 0.83);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --name: rgba(255, 39, 39, 0.93);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: "Krub", sans-serif;
}

.cointainer {
    width: 120rem;
    margin: 0 auto;
    padding: 1rem;
}

.title {
    text-align: center;
    font-size: 3.8rem;
    color: var(--title-color);
}

.title span {
    font-size: 2rem;
    color: var(--name)
}

.nav-bg{
    background-color: var(--secondary-color);
}

.initial-nav ul{    
    display: flex;    
    justify-content: space-between;
    list-style: none;                   
}

.initial-nav a{
    text-decoration: none;
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
}